In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
%load_ext autoreload
%autoreload 2

In [1]:
!pip install -Uqq pandas investpy python-dateutil networkx matplotlib scikit-learn great-expectations seaborn

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import investpy
from pathlib import Path
from dateutil.relativedelta import relativedelta

In [6]:
%matplotlib inline

In [11]:
# Global variables and constants

# use investpy.get_stock_countries() to list supported countries
COUNTRY = "united states" 

PAST_YEARS = [2018, 2019, 2020]

EXPECTED_DIVIDENDS_YIELDS = 15

In [14]:
# Get stocks for the country
stocks = investpy.get_stocks(country=COUNTRY)
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4582 entries, 0 to 4581
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    4582 non-null   object
 1   name       4582 non-null   object
 2   full_name  4582 non-null   object
 3   isin       4582 non-null   object
 4   currency   4582 non-null   object
 5   symbol     4582 non-null   object
dtypes: object(6)
memory usage: 214.9+ KB

In [15]:
stocks.head(10)

,country,name,full_name,isin,currency,symbol
0,united states,Boeing,Boeing Co,US0970231058,USD,BA
1,united states,General Motors,General Motors Company,US37045V1008,USD,GM
2,united states,Chevron,Chevron Corp,US1667641005,USD,CVX
3,united states,Citigroup,Citigroup Inc,US1729674242,USD,C
4,united states,Bank of America,Bank of America Corp,US0605051046,USD,BAC
5,united states,AT&T,AT&T Inc,US00206R1023,USD,T
6,united states,Caterpillar,Caterpillar Inc,US1491231015,USD,CAT
7,united states,Intel,Intel Corporation,US4581401001,USD,INTC
8,united states,Microsoft,Microsoft Corporation,US5949181045,USD,MSFT
9,united states,Alcoa,Alcoa Corp,US0138721065,USD,AA

In [17]:
investpy.get_stock_information("AAPL", COUNTRY)

,Stock Symbol,Prev. Close,Todays Range,Revenue,Open,52 wk Range,EPS,Volume,Market Cap,Dividend (Yield),Average Vol. (3m),P/E Ratio,Beta,1-Year Change,Shares Outstanding,Next Earnings Date
0,AAPL,131.01,126.55 - 129.73,2.745200e+11,127.53,53.15 - 138.78,3.27,51958779.0,2.227410e+12,0.82 (0.63%),114251602.0,40.1,1.27,74.8%,1.700180e+10,02/02/2021

In [18]:
investpy.get_stock_company_profile("AAPL", COUNTRY)

{'url': 'https://www.investing.com/equities/apple-computer-inc-company-profile',
 'desc': "Apple Inc. designs, manufactures and markets mobile communication and media devices, personal computers and portable digital music players. The Company sells a range of related software, services, accessories, networking solutions, and third-party digital content and applications. The Company's segments include the Americas, Europe, Greater China, Japan and Rest of Asia Pacific. The Americas segment includes both North and South America. The Europe segment includes European countries, India, the Middle East and Africa. The Greater China segment includes China, Hong Kong and Taiwan. The Rest of Asia Pacific segment includes Australia and the Asian countries not included in the Company's other operating segments. Its products and services include iPhone, iPad, Mac, iPod, Apple Watch, Apple TV, a portfolio of consumer and professional software applications, iPhone OS (iOS), OS X and watchOS operating systems, iCloud, Apple Pay and a range of accessory, service and support offerings."}