In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
!pip install -Uqq pandas investpy python-dateutil networkx matplotlib scikit-learn great-expectations seaborn

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import investpy
from pathlib import Path
from dateutil.relativedelta import relativedelta
from dataclasses import dataclass, field
from typing import List

In [12]:
%matplotlib inline

In [7]:
# Global variables and constants

COUNTRY = "united states"                   # use investpy.get_stock_countries() to list supported countries
PAST_YEARS = [2018, 2019, 2020]
PE_RATIO = 9
EXPECTED_DIVIDENDS_YIELDS_PERCENTAGE = 15

In [29]:
@dataclass
class DividendYield:
    year:int = 0
    percentage: float = 0.0
    
@dataclass
class Stock:
    country: str = ''
    name: str = ''
    symbol: str = ''
    pe_ratio: float = 0.0
    yields: List[int] = field(default_factory=list)

In [30]:
# Get stocks for the country
stocks = investpy.get_stocks(country=COUNTRY)
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4582 entries, 0 to 4581
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    4582 non-null   object
 1   name       4582 non-null   object
 2   full_name  4582 non-null   object
 3   isin       4582 non-null   object
 4   currency   4582 non-null   object
 5   symbol     4582 non-null   object
dtypes: object(6)
memory usage: 214.9+ KB

In [15]:
stocks.head(10)

,country,name,full_name,isin,currency,symbol
0,united states,Boeing,Boeing Co,US0970231058,USD,BA
1,united states,General Motors,General Motors Company,US37045V1008,USD,GM
2,united states,Chevron,Chevron Corp,US1667641005,USD,CVX
3,united states,Citigroup,Citigroup Inc,US1729674242,USD,C
4,united states,Bank of America,Bank of America Corp,US0605051046,USD,BAC
5,united states,AT&T,AT&T Inc,US00206R1023,USD,T
6,united states,Caterpillar,Caterpillar Inc,US1491231015,USD,CAT
7,united states,Intel,Intel Corporation,US4581401001,USD,INTC
8,united states,Microsoft,Microsoft Corporation,US5949181045,USD,MSFT
9,united states,Alcoa,Alcoa Corp,US0138721065,USD,AA

In [40]:
s = Stock()
s.symbol = "AAPL"
s.name = "Apple Inc"

In [43]:
stock = investpy.get_stock_information(s.symbol, COUNTRY)
s.pe_ratio = stock["P/E Ratio"]
stock

,Stock Symbol,Prev. Close,Todays Range,Revenue,Open,52 wk Range,EPS,Volume,Market Cap,Dividend (Yield),Average Vol. (3m),P/E Ratio,Beta,1-Year Change,Shares Outstanding,Next Earnings Date
0,AAPL,128.91,127 - 130.22,2.745200e+11,128.78,53.15 - 138.78,3.27,111598531.0,2.160000e+12,0.82 (0.64%),108533750.0,38.92,1.27,59.56%,1.700180e+10,27/01/2021

In [45]:
investpy.get_stock_financial_summary(s.symbol, COUNTRY)

            Total Revenue  Gross Profit  Operating Income  Net Income
Date
2020-09-26         274515        104956             66288       57411
2019-09-28         260174         98392             63930       55256
2018-09-29         265595        101839             70898       59531
2017-09-30         229234         88186             61344       48351

In [49]:
investpy.get_stock_recent_data?

Signature:
investpy.get_stock_recent_data(
    stock,
    country,
    as_json=False,
    order='ascending',
    interval='Daily',
)
Docstring:
This function retrieves recent historical data from the introduced stock from Investing.com. So on, the recent data
of the introduced stock from the specified country will be retrieved and returned as a :obj:`pandas.DataFrame` if
the parameters are valid and the request to Investing.com succeeds. Note that additionally some optional parameters
can be specified: as_json and order, which let the user decide if the data is going to be returned as a
:obj:`json` or not, and if the historical data is going to be ordered ascending or descending (where the index is the
date), respectively.

Args:
    stock (:obj:`str`): symbol of the stock to retrieve recent historical data from.
    country (:obj:`str`): name of the country from where the stock is.
    as_json (:obj:`bool`, optional):
        to determine the format of the output data, either a :obj:`pandas.DataFrame` if False and a :obj:`json` if True.
    order (:obj:`str`, optional): to define the order of the retrieved data which can either be ascending or descending.
    interval (:obj:`str`, optional):
        value to define the historical data interval to retrieve, by default `Daily`, but it can also be `Weekly` or `Monthly`.

Returns:
    :obj:`pandas.DataFrame` or :obj:`json`:
        The function can return either a :obj:`pandas.DataFrame` or a :obj:`json` object, containing the retrieved
        recent data of the specified stock from the specified country. So on, the resulting dataframe contains the
        open, high, low, close and volume values for the selected stock on market days and the currency in which those
        values are presented.

        The resulting recent data, in case that the default parameters were applied, will look like::

            Date || Open | High | Low | Close | Volume | Currency
            -----||------|------|-----|-------|--------|----------
            xxxx || xxxx | xxxx | xxx | xxxxx | xxxxxx | xxxxxxxx

        but in case that as_json parameter was defined as True, then the output will be::

            {
                name: name,
                recent: [
                    {
                        date: 'dd/mm/yyyy',
                        open: x,
                        high: x,
                        low: x,
                        close: x,
                        volume: x,
                        currency: x
                    },
                    ...
                ]
            }

Raises:
    ValueError: raised whenever any of the introduced arguments is not valid or errored.
    IOError: raised if stocks object/file was not found or unable to retrieve.
    RuntimeError: raised if the introduced stock/country was not found or did not match any of the existing ones.
    ConnectionError: raised if connection to Investing.com could not be established.
    IndexError: raised if stock recent data was unavailable or not found in Investing.com.

Examples:
    >>> data = investpy.get_stock_recent_data(stock='bbva', country='spain')
    >>> data.head()
                 Open   High    Low  Close    Volume Currency
    Date
    2019-08-13  4.263  4.395  4.230  4.353  27250000      EUR
    2019-08-14  4.322  4.325  4.215  4.244  36890000      EUR
    2019-08-15  4.281  4.298  4.187  4.234  21340000      EUR
    2019-08-16  4.234  4.375  4.208  4.365  46080000      EUR
    2019-08-19  4.396  4.425  4.269  4.269  18950000      EUR
File:      ~/miniconda3/lib/python3.8/site-packages/investpy/stocks.py
Type:      function