# Data Extraction from Semi-Structured Files

## Install Libraries

In [1]:
!pip3 install -U openpyxl pandas

Requirement already satisfied: openpyxl in /home/alpha2phi/miniconda3/lib/python3.9/site-packages (3.0.7)
Collecting pandas
  Downloading pandas-1.3.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 7.6 MB/s eta 0:00:01
Requirement already satisfied: et-xmlfile in /home/alpha2phi/miniconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/alpha2phi/miniconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/alpha2phi/miniconda3/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /home/alpha2phi/miniconda3/lib/python3.9/site-packages (from pandas) (1.21.1)
Requirement already satisfied: six>=1.5 in /home/alpha2phi/miniconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.3.1

## Extract Semi-Structured Data - Spreadsheet

In [49]:
import pandas as pd
import numpy as np
import datetime
import glob
from IPython.display import display
pd.options.display.max_columns = None

In [12]:
SEMI_STRUCTURED_EXCEL = "test_data/semi_structured_spreadsheet.xlsx"
SHEET_NAME = "data"

In [13]:
def is_day(s):
    try: 
        int(s)
        return True
    except ValueError:
        return False
    
def is_valid_date(dt_str):
    try:
        dt = datetime.datetime.strptime(dt_str, '%Y-%m-%d')
        return True
    except ValueError:
        return False
    
def get_all_sheets(file_name):
       excel = pd.ExcelFile(file_name, engine="openpyxl")
       return excel.sheet_names

In [93]:
# Read the excel sheet, skip 3 rows, 2 headers
df = pd.read_excel(SEMI_STRUCTURED_EXCEL, engine="openpyxl", sheet_name=SHEET_NAME, header=[0,1], skiprows=3)

#display(df.head(20))

# Drop the summary fields
df.drop(columns=["Total Sum of Units", "Total Sum of Order Amount"], level=0, inplace=True)

# Flatten columns
df.columns = [' '.join(col).strip() for col in df.columns.values]

# Rename columns
df.rename(columns = {"Unnamed: 0_level_0 Country": "Country", "Unnamed: 1_level_0 Salesperson": "Salesperson"}, inplace=True)

# Forward fill for Country and Salesperson
df.loc[:, ["Country","Salesperson"]] = df.loc[:, ["Country", "Salesperson"]].ffill()

# Drop the result rows
df = df[~df.Country.str.contains("Result")]

# Fill NaN with 0
df.fillna(0, inplace=True)

# Convert columns to rows
df = df.melt(id_vars=["Country", "Salesperson"], 
        var_name="Type", 
        value_name="Value")

# Create new column for year and type
df['Year'] = df.Type.str.slice(start=0, stop=5)
df['Type'] = df.Type.str.slice(start=5)

# Change the description
df['Type'].replace({"Sum of Units": "Units", "Sum of Order Amount": "Order Amount"}, inplace=True)

# Pivot it
df = df.pivot(index=["Country", "Salesperson", "Year"], columns=["Type"],values="Value")

# Reset the index
df.reset_index(inplace=True)
display(df.head(100))

# Save to CSV
df.to_csv(path_or_buf="test_data/structured_data.csv", index=False)

Type Country Salesperson   Year  Order Amount  Units
0         UK     Bromley  2011       24756.89  232.0
1         UK     Bromley  2012       40396.64  228.0
2         UK     Bromley  2013        9894.51   73.0
3         UK     Coghill  2011        4029.25   81.0
4         UK     Coghill  2012        4657.11   39.0
5         UK     Coghill  2013           0.00    0.0
6         UK     Farnham  2011       14055.87  170.0
7         UK     Farnham  2012        5892.65   44.0
8         UK     Farnham  2013        2560.40   17.0
9         UK  Gillingham  2011       40826.37  397.0
10        UK  Gillingham  2012       17181.58  276.0
11        UK  Gillingham  2013       14519.68  202.0
12        UK  Gloucester  2011       31433.16  209.0
13        UK  Gloucester  2012       19691.89  143.0
14        UK  Gloucester  2013       17667.20  135.0
15        UK    Rayleigh  2011       59827.19  422.0
16        UK    Rayleigh  2012       41903.64  268.0
17        UK    Rayleigh  2013       15232.16  131.0
18       USA     Bromley  2011        7553.95   58.0
19       USA     Bromley  2012        3654.00   27.0
20       USA     Bromley  2013        1101.20    7.0
21       USA    Callahan  2011       49400.07  623.0
22       USA    Callahan  2012       43263.95  337.0
23       USA    Callahan  2013       18059.50  200.0
24       USA     Coghill  2011      120626.31  885.0
25       USA     Coghill  2012       46505.90  520.0
26       USA     Coghill  2013       49945.11  405.0
27       USA     Farnham  2011       89663.20  699.0
28       USA     Farnham  2012       73360.59  506.0
29       USA     Farnham  2013       15663.56  217.0
30       USA    Finchley  2011       95850.36  699.0
31       USA    Finchley  2012       55787.97  487.0
32       USA    Finchley  2013       30861.76  302.0
33       USA      Fuller  2011       71168.14  539.0
34       USA      Fuller  2012       73524.18  473.0
35       USA      Fuller  2013       17811.46  170.0